#header  nav {
  width: 100%;
  height: 56px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

#header nav .logo {
  font-size: 32px;
  color: var(--primary-color);
  cursor: pointer;
}

#header nav .header__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
#header nav .header__nav a{
}
#header nav .header__nav li {
  display: inline-block;
  font-weight: 400;
  margin: 5px 16px;
}

#header .active {
  font-weight: 700;
  border-bottom: 4px solid var(--primary-color);
  padding-bottom: 16px;
  color: var(--primary-color) !important;
}

#header nav .header__nav li a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
#header nav .header__nav li a:hover {
  color: var(--primary-color);
}
#header nav .icons i {
  margin: 0 4px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

#header nav .icons i:hover {
  color: var(--primary-color);
}
