.confirm-error {
    position: relative;
    font-size: 11px;
    color: var(--sub-color);
    top: -10px;
  }
  .modal1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(79, 76, 76, 0.4);
    z-index: 10;
  }
  .modal-form img {
    width: 100%;
    height: calc(100vh - 4px);
  }
  .modal1 .logo {
    position: absolute;
    left: 128px;
    top: 56px;
    color: var(--primary-color);
    z-index: 100;
  }
  .login-form,
  .register-form {
    width: 488px;
    height: 544px;
    padding: 64px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 128px;
    background-color: #fff;
    border-radius: 32px;
  }
  .register-form {
    height: 644px;
  }
  .register-title {
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
  }
  .login-title {
    margin: 0 auto;
    margin-bottom: 32px;
    text-align: center;
  }
  .tbutton.btn-login {
    width: 100%;
    height: 48px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dont-account,
  .accept {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .accept i {
    opacity: 0.5;
  }
  .dont-account-text {
    opacity: 0.9;
  }
  .dont-account span {
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 70;
  }
  
  .confirm-password {
    margin-top: 20px;
  }
  
  .login-fail,
  .register-fail {
    position: absolute;
    top: 6px;
    font-size: 11px;
    color: var(--sub-color);
    font-style: italic;
  }
  .register-fail {
    top: -19px;
  }