.cart__table {
  border-collapse: collapse;
  padding: 20px;
}
.cart__table tr {
  width: 100%;
}
.cart__table th,
.cart__table td {
  text-align: center;
}
.cart__table th {
  height: 48px;
  background-color: #f3f0f7;
}
.cart__table td {
  height: 128px;
}

.cart__table th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.cart__table th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table-list {
  margin: 20px;
  height: calc(100% - 100px);
}
.table-record-list {
  height: 589px;
  overflow-y: auto;
}

.text-nodata {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  font-size: 18px;
  font-style: italic;
  opacity: 0.6;
}
